[submodule "themes/landscape"]
	path = themes/landscape
	url = https://github.com/hexojs/hexo-theme-landscape
[submodule "themes/book"]
	path = themes/mix
	url = https://github.com/kaiiiz/hexo-theme-book
[submodule "themes/mix"]
	path = themes/mix
	url = https://github.com/wangxiuwen/hexo-theme-mix


